# Final Project - Data Science Tools and Ecosystem
## Introduction
This notebook covers the basic tools, libraries, and languages used in data science, as well as simple arithmetic expressions using Python.

## Popular Data Science Languages
- Python  
- R  
- SQL  
- Java  
- Julia

## Commonly Used Libraries in Data Science
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

## Data Science Tools

| Tool           | Category            |
|----------------|---------------------|
| Jupyter        | Notebook Environment |
| RStudio        | IDE                  |
| Apache Spark   | Big Data Framework   |
| VSCode         | Code Editor          |
| TensorFlow     | Deep Learning Library |

## Arithmetic Expressions in Python
The following code cell will demonstrate how to perform basic math operations like multiplication and addition.

In [12]:
# This expression multiplies 3 and 4, then adds 5
(3 * 4) + 5

17

In [14]:
# Convert 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

- List popular languages used in Data Science  
- Identify common data science libraries  
- Create tables in markdown  
- Perform arithmetic expressions in Python  
- Convert units of time using Python

## Author  
**Syed Raza Hashmi**